#datepicker-above {
	float: left;
	font-size: 0.7em;
	line-height: 1.0em;
	margin: auto 0;
}

#datepicker {
	float: right;
	font-size: 0.7em;
	line-height: 1.0em;
	margin: 15px 0 5px 10px;
}

#brp-scriptures h2 {
	font-weight: bold;
}

#brp-scriptures h3 {
	font-weight: bold;
}

#brp-content p {
	margin: 10px 0 30px 0 !important;
}

#brp-dbp-languages {
	margin: 10px 0 15px 0;
}

h2.brp-holy-days {
	margin-top: 10px;
	font-size: 1.3em;
/*	line-height: 2.0em;*/
	font-style: italic;
}

h2.brp-moveable-feasts {
	font-size: 1.3em;
/*	line-height: 2.0em;*/
	font-style: italic;
}

.eb-container .wj,
.brp-container .woc {
  color: #CC0000;
}

.brp-container .block-indent {
  margin-top: -15px;
  margin-bottom: 10px;
}

.brp-poetic {
	margin-bottom: 0.5em;
}

.brp-poetic-span {
	padding-left: 2em;
}

.brp-selah {
	margin-left: 1em;
	margin-right: 1em;
	text-align: right !important;
	font-style: italic;
}

.brp-passage {
	font-weight: bold; 
	font-size: 1.15em;
	margin-top: 1.2em;
}

.brp-paragraph {
	padding-top: 20px;
}

.passage-spacer {
	height: 40px;
}

.brp-chapter-nr {
	font-weight: bold !important;
}

.brp-verse-nr,
.eb-container .v,
.verse-num,
b.verse-num,
.verse-num .inline,
.verse-num .woc,
b.verse-num .woc{
	font-size: 0.8em !important; 
	vertical-align: top !important;
	font-weight: normal !important;
}

.eb-container .v {
	padding-right: 3px;
}

.eb-container .p1 {
	text-indent: 0 !important;
	margin-bottom: -20px !important;
	padding-left: 10.5em !important;
}

.brp-copyright {
	font-size: 0.8em;
	width: 100%; 
	float: left; 
	margin: 0;
}

.brp-copyright-small {
	font-size: 0.7em;
	width: 100%; 
	float: left; 
	margin: 0;
}

.brp-powered-by {
	font-size: 0.8em; 
	width: 100%; 
	float: left; 
	margin: 7px 0;
	border-top: 1px solid #999;
}

.brp-audio-player {
	width: 50%;
}

.brp-audio-caveats {
	font-size: 0.7em;
	line-height: 0.7em;"
}

.brp-loading {
	text-align: center;
	margin: 0 auto;
	width: 95%;
}

brp-loading-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25%;
	width: 25%;
}

.brp-access-key-note {
	font-size: 0.95em; 
	text-align: left;
	background-color: #fff;
	padding: 7px;
}

.brp-access-key-note-directions {
	margin-left: 5px;
}

.brp-access-key-note-pointer {
	font-size: 0.9em;
	margin-left: 5px;
}

.brp-available-versons-note {
	font-size: 0.9em; 
	text-align: left;
	background-color: #fff;
	padding: 0;
}

.brp-languages-sort-note {
	font-size: 0.9em; 
	text-align: left;
	margin: 7px 0 -15px 0;
}

.brp-dbp-languages-notes {
	font-size: 0.8em; 
	text-align: left;
	margin: 7px 0;
}

.brp-use-calendar {
	float: left;
}

.brp-place-calendar {
	float: left; 
	margin: 0;
}

.brp-in-text {
	float: left; 
	margin: 0 0 0 10px;
}

.brp-no-scriptures-available {
	font-size: 0.7em;
	margin-top: 20px;
	/* Override or comment out the following statement to have "no Scriptures available" messages appear when there are none.*/
	display: none;
}

.brp-plans {
	margin-left: 30px;
}

.brp-donate {
	width: 90%; 
	margin: 25px auto;
	text-align: center;
}

.brp-donate-form {
	margin: auto; 
	text-align: center;
}

.brp-muzzle-not {
	font-size: 0.7em; 
	text-align: center;
}

.brp-no-readings {
	font-weight: bold;
	padding-bottom: 700px;
	float: left;
}

/* Table of Contents
-------------------------------------------------------------- */

.brp-toc {
	float: right;
	position: fixed;
	top: 15%;
	right: 15%;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 0;
}

.brp-toc-header {
	padding: 0 0.5em;
	background: url("https://code.jquery.com/ui/1.12.1/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png");
	background-repeat: repeat-x;
	background-size: auto;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 0.1em;
}

.brp-toc-title {
	padding: 0.5em 0.2em;
	margin: 0 0.2em;
	font-size: 0.8em;
	font-weight: 500;
	line-height: 1.8em;
	text-align: center;
}

.brp-toc ul {
	margin: 0.1em 0 0.4em 0;
}

.brp-toc li {
	line-height: 1.2em;
	margin: 0;
	list-style: none;
}

.brp-toc a {
	line-height: 0.8em;
	font-size: 0.8em;
	color: black;
}

/* Mobile
-------------------------------------------------------------- */

@media screen and (max-width: 480px) {
	#datepicker-above {
		float: none;
		margin: 10px auto;
		width: 80%;
	}
	
	#datepicker {
		display: none;
	}
	
	.ui-widget {
		width: 100%;
	}

	.brp h2 {
		margin-bottom: -17px;
	}
	
	.brp-audio-player {
		margin: 0.3em 0 0.7em 0;
		width: 95%;
		float: none;
	}
	
	.brp-toc {
		float: none;
		position: fixed;
		top: auto;
		right: 0;
		left: 0;
		bottom: 0;
		width: 99%;
		margin: 0 auto;	
		padding: 0;
		background-color: #eee;
		font-size: 0.7em !important;
		line-height: 0.7em !important;		
	}

}

